<nav class="teal-bg z-depth-4">
    <div class="nav-wrapper container">
        <a routerLink="/about" routerLinkActive="active" class="brand-logo">About</a>
        <ul id="nav-mobile" class="right">
            <li>
                <a routerLink="/reusables" routerLinkActive="active">Reusable Code</a>
            </li>
            <li>
                <a routerLink="/lazy/quote" routerLinkActive="active">Angular Example</a>
            </li>
            <li>
                <a href="/AHShome.html" target="_blank">JQuery Example</a>
            </li>
        </ul>
    </div>
</nav>