<div class="container row">
  <h3 class="txt-blue center m-5">About Stefan Didier</h3>
  <h5>
    I have been a professional developer since I earned my degree for it in early 2015. I have since spent my career in an enterprise
    environment.
  </h5>
  <h5>
    I prefer to work with an angular, spring, hibernate stack but have experience with other technologies. I list some of them
    at my
    <a href="https://www.linkedin.com/in/stefan-didier-a8829587/" target="_blank" class="light-blue-txt">linkedin profile</a>.
  </h5>
  <h5>
    I write readable,
    <a routerLink="/reusables" routerLinkActive="active" class="light-blue-txt">reusable code</a> as I go.
  </h5>
  <h5>
    Please visit the links provided in the header for examples of my work. Note that some buttons do not do anything because
    I am not going to use a backend on a free hosting service, else it won't be free.
  </h5>
  <h5>
    Please visit my
    <a href="https://github.com/OhmGnome" target="_blank" class="light-blue-txt">github</a> for backend examples</h5>
</div>