$font-stack: 'Gotham SSm A', 'Gotham SSm B';
// $blue: #005288; //buyonlineResponsive
$blue: #003E69;
$light-blue: #075488;
// $red: #EE3124; //buyonlineResponsive
$red: #EF3829;
$orange: #F47B20;
$green: #5E9732;
$teal: #38939B;
$dark-teal: #007070;
$beige: #E5E5E5;
$lighter-grey: #CCCECF;
$light-grey: #ABACAD;
$grey: #6E6F6F; 
$dark-grey: #58595B;
$darker-grey: #333333;

$btn-width: 282px;